@CHARSET "UTF-8";

body { background: #81D4F7; font-size: 12px; }

.absolute { position: absolute; }
.relative { position: relative; }
.clr { clear: both; }
.fltlft { float: left; }
.fltrgt { float: right; }

.icons { background: url('../images/icons.png') no-repeat; }

.logo-image a { width: 361px; height: 242px; }
.banner-txt-intro { background: url('../images/banner-text-intro.png') no-repeat; width: 465px; height: 177px; display: block; }

#banner-top { height: 604px; top: 0; left: 0; z-index: -1; background: url('../images/bg-top.png') top center no-repeat; width: 100%; background-size: 100%; }
#banner-bottom { height: 633px; bottom: 0; left: 0; z-index: -1; background: url('../images/bg-bottom.png') bottom center no-repeat; width: 100%; background-size: 100%; }

/* overwrite t3 css */
.t3-header { padding-top: 150px; }
.t3-module { margin-bottom: 15px; }
.t3-module ul, .t3-module ol { margin: 0; list-style: none; }
.t3-mainbody { padding: 0; }
/* end overwrite */

footer { margin: auto; width: 960px; height: 415px; }
footer div.icons { height: 154px; background-position: 0 -220px; margin-top: 20px; }

.main-body-content { background: #009ce0; padding: 20px 10px; width: 940px; margin: auto; border-radius: 10px; }

#top-menu { width: 960px; margin: 0 auto; }
#top-menu a { display: block; height: 36px; float: left; text-align: center; line-height: 36px; font-size: 16px; font-weight: bold; font-style: italic; color: #000; }
#top-menu a.trang-chu { width: 134px; margin-right: 6px; margin-left: 8px; }
#top-menu a.nuoi-day { width: 160px; background-position: -143px 0; margin-right: 6px; }
#top-menu a.thuc-don { width: 162px; background-position: -313px 0; margin-right: 6px; }
#top-menu a.tho-truyen { width: 160px; background-position: -481px 0; margin-right: 7px; }
#top-menu a.hinh-anh { width: 156px; background-position: -647px 0; margin-right: 7px; }
#top-menu a.lien-he { width: 139px; background-position: -809px 0; }

.box { border: 2px solid #f49ac2; }
.bg { background: #fad5e5; }
.round { border-radius: 5px; }

/* layout */
.left-side { width: 250px; margin-right: 10px; padding-top: 20px; }
.main-side { width: 430px; padding: 20px 10px; }
.right-side { width: 220px; margin-right: 20px; }
/* end layout */

/* other */
.xoay-tren { width: 69px; height: 64px; background-position: -230px -128px; top: 0px; left: -3px; }
.xoay-duoi-1 { width: 69px; height: 64px; background-position: -230px -54px; bottom: -3px; right: -5px; }
.xoay-duoi-2 { width: 69px; height: 64px; background-position: -230px -54px; bottom: -3px; right: -5px; }
.xoay-duoi-3 { width: 69px; height: 64px; background-position: -230px -54px; bottom: -3px; right: -5px; }
.con-kien { width: 74px; height: 64px; background-position: -321px -52px; top: -40px; left: -7px; }
.con-chim { width: 73px; height: 54px; background-position: -640px -141px; top: -42px; left: -5px; }
.top-slider-image { margin-bottom: 25px; margin-left: 15px; }

/* left */
.left-menu { padding: 35px 25px 20px 22px; }
.left-menu a { display: block; margin-bottom: 10px; }
.left-menu a.co-cau-to-chuc { background-position: -258px -592px; height: 32px; }
.left-menu a.tien-ich { background-position: -258px -634px; height: 32px; }
.left-menu a.nuoi-day { background-position: -258px -673px; height: 36px; }
.left-menu a.hoat-dong { background-position: -258px -715px; height: 34px; }

.left-menu a.co-cau-to-chuc:hover, .left-menu a.co-cau-to-chuc-active { background-position: -466px -592px; }
.left-menu a.tien-ich:hover, .left-menu a.tien-ich-active { background-position: -466px -634px; height: 32px; }
.left-menu a.nuoi-day:hover, .left-menu a.nuoi-day-active { background-position: -466px -673px; height: 36px; }
.left-menu a.hoat-dong:hover, .left-menu a.hoat-dong-active { background-position: -466px -715px; height: 34px; }

.left-album div.anh-moi { width: 139px; height: 41px; margin-right: 35px; background-position: -557px -53px; margin-top: 7px; }

.new-album-container { padding: 15px 0 30px 9px; margin-left: 15px; }
.new-album-frame { background-position: 0 -585px; width: 212px; height: 165px; display: block; top: 0; left: 0; }

.txt-chuong-trinh-ngoai-khoa { background-position: -557px -108px; width: 201px; height: 21px; margin-left: 21px; }
.anh-chuong-trinh-ngoai-khoa { background-position: 0 -382px; width: 207px; height: 206px; margin-left: 18px; margin-bottom: 15px;  }
.anh-chuong-trinh-ngoai-khoa img { margin: 40px 0 0 14px; }

.left-other { padding-bottom: 15px; }
.tuyen-dung { display: block; width: 240px; height: 148px; background-position: -740px -379px; margin: 30px 0 5px 5px; }
.left-other .txt-support-online { width: 225px; height: 36px; background-position: -741px -527px; margin: 0 0 10px 8px; }
.left-other .yahoo-support { display: inline-block; width: 48px; height: 40px; background-position: -741px -575px; }
.left-other .so-dien-thoai { display: inline-block; width: 169px; height: 35px; background-position: -796px -579px; margin-left: 5px; }
.left-other .txt-stat { width: 150px; height: 40px; background-position: -739px -619px; margin-left: 35px; }
.left-other .stat-info { height: 80px; padding: 10px 30px 45px 30px; }

/* end left */

/* right */
.right-other { padding: 50px 0 30px 0; margin-bottom: 10px; text-align: center; }
.right-other a { display: block; margin-bottom: 15px; }
.right-other a.camera { width: 177px; height: 130px; background-position: -223px -378px; margin-left: 15px; }
.right-other a.thu-vien-anh { width: 139px; height: 163px; background-position: -408px -379px; margin-left: 42px; }
.right-other a.kho-video { width: 156px; height: 183px; background-position: -558px -376px; margin-left: 40px; }
.top-box-latest-news { width: 142px; height: 23px; background-position: -394px -128px; padding: 30px 0 0 90px; font-weight: bold; color: #ed1c24; font-style: italic;  font-size: 16px; }
.right-latest-news { background: url('../images/bg-latest-news.png')  repeat-y; padding: 0px 15px; width: 192px; }
.right-latest-news a { display: block; font-weight: bold; padding-top: 10px; }
.bottom-box-latest-news { width: 232px; height: 33px; background-position: -394px -189px; }
/* end right */

/* bottom */
.box-1 { border: 4px solid #f47920; width: 920px; margin: auto; border-radius: 10px; margin-top: 20px; padding: 10px 20px 25px; background: #fad5e5; }
.box-1 .hinh-anh-be { background-position: -750px -64px; width: 218px; height: 36px; }
.dia-chi-truong-mam-non { background-position: 0px -764px; width: 334px; height: 13px; right: 10px; bottom: 0; }


/* content */
.body-featured ul { list-style: none; margin: 0; padding: 0; }
.body-featured ul li { background: url("../images/icon-hoatigon.png") 0px 5px no-repeat; padding-left: 30px; margin-top: 20px; }

._ag_thumbclassic { width: 119px; }
ul.footer-slider { margin: 10px 0 10px 5px; }
ul.footer-slider li { height: 202px; }
ul.footer-slider li img { border: 1px solid #CCC; width: 272px; }
.new-album-container .bx-wrapper, .anh-chuong-trinh-ngoai-khoa .bx-wrapper { margin: 0 !important; padding: 0; }

#youtube-gallery { with: 430px; }